{% extends 'base-email.html' %}
{% block title %}Welcome to the Doughnut Brand{% endblock %}
{% block aria_label %}Welcome to the Doughnut Brand{% endblock %}
{% block content %}
<h1 style="margin: .67em 0; font-family: 'Playfair Display', Georgia, serif; font-size:2em">
  Welcome to the Doughnut Brand
</h1>
<img src="https://unsplash.com/photos/Ic0E0y6Zo20/download?force=true&w=640" alt="doughnuts" style="display: block; width: 100%; max-height: 250px; overflow: hidden;">
<p style="margin: 1em 0;">Hello {{customer['username']}},</p>
<p style="margin: 1em 0;">Thank you for signing up to receive emails from us. We will send you updates at various times during your experience with us.</p>
<p style="margin: 1em 0;">For now, feel free to take a look at our products.</p>
<a class="cta" href="#" style="background-color: #451212; color: moccasin; text-decoration: none; display:inline-block; border-radius:16px; padding: .5em 2em;">
  View Products
</a>
<p style="margin: 1em 0;">We hope you find something that you like!</p>
<p style="margin: 1em 0;">Sincerely, The Dougnuts Brand</p>
{% endblock %}


